<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>
    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Penumbra</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close data-ui-sref="app.hotels" data-ui-sref-opts="{reload: true, notify: true}">
                    Hotels
                </ion-item>
                <ion-item nav-clear menu-close data-ui-sref="app.attractions" data-ui-sref-opts="{reload: true, notify: true}">
                    Tourist Attractions
                </ion-item>
                <ion-item nav-clear menu-close data-ui-sref="app.holidays" data-ui-sref-opts="{reload: true, notify: true}">
                    Holiday List
                </ion-item>
                <ion-item nav-clear menu-close data-ui-sref="app.emergency" data-ui-sref-opts="{reload: true, notify: true}">
                    Emergency No
                </ion-item>
                <ion-item nav-clear menu-close data-ui-sref="app.events" data-ui-sref-opts="{reload: true, notify: true}">
                    Events List
                </ion-item>
                <ion-item nav-clear menu-close href="https://www.usa.gov/travel-complaint">
                    Complaint
                </ion-item>
                <ion-item nav-clear menu-close href="geo:0,0?q=12.950743,77.584777&z=16">
                    open map
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>